<!DOCTYPE html>

<html lang="zh">
<head>
    <meta charset="UTF-8">
    <title>@ViewBag.Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0, minimum-scale=1,maximum-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="white">
    <meta name="format-detection" content="telephone=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="browsermode" content="application" />
    <meta name="imagemode" content="force">
    @Scripts.Render("~/sb/Default")
    @RenderSection("HeadRS", required: false)
</head>
<body>
    <div>
        @RenderBody()
    </div>
</body>
</html>
<script type="text/javascript" language="javascript">
<!--

//-->
</script>
@RenderSection("FootRS", required: false)